body{
    background-color: darkgreen;
}

h1{
    color: whitesmoke;
    text-shadow: 8px 8px 10px whitesmoke;
    font-size: 35px;
    text-align: center;
}

h2{
    font-family:fantasy ;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
}

#tableau{
    color: whitesmoke;
    font-weight: bold ;
}

#p1{
    background-color: whitesmoke;
    color: darkgreen;
    border-radius: 15px 15px 15px 15px;;
    font-weight: bold;
    font-size: 20px;
    width: 200px;
}

#p2{
    background-color: whitesmoke;
    color: darkgreen;
    border-radius: 15px 15px 15px 15px;
    font-weight: bold;
    font-size: 20px;
    float: right ;
    width: 200px;
}

#p3{
    background-color: whitesmoke;
    color: darkgreen;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
    float: right;
    padding: 20px;
    font-weight: bold;
    margin-right: 30px;
}

#image{
    margin-left: 200px;
}